<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs'); %>
        <title>Hi Jess :)</title>
</head>

<body class="bg-gradient-to-tr from-indigo-500 via-orange-400 to-yellow-400">

    <!-- height container -->
    <div class="flex flex-col pb-3 container-height md:medium-container-height">
        <!-- horizontal container -->
        <div class="container flex justify-center h-screen max-w-xl">
            <!-- vertical container -->
            <div class="flex flex-col gap-4">
                <span class="mt-2 py-2 px-8 text-3xl md:text-4xl text-center font-bold text-gray-800">Oh
                    hi Jess!
                    &#128037;</span>
                <span class="daylight-span">How much daylight was there
                    today?</span>
                <span id="daylight_span" class="daylight-span">
                    <%- sunrise_sunset_output %> <br><br>
                        <%- total_daylight_output %> <br>
                            Love you 💛
                </span>
            </div>
        </div>

        <div class="flex justify-center gap-4">
            <a href="/ "><button class="btn-common bg-blue-600 text-gray-800">Main Page</button></a>
            <a href="/contact "><button class="btn-common bg-blue-600 text-gray-800">Contact me</button></a>
        </div>
    </div>

    <%- include('footer.ejs'); %>

</body>

</html>