extends layout

block layout-content
  div.View.BackgroundDaylight
    h1.Banner.DaylightBanner Daylight
    div.View
      div.Message.MainPage.FadeIn
        div.DaylightTitle
          h1 Hello beautiful
      div.Message.Daylight.FadeIn
        script.
          var output = "!{output}";
          document.write(output)