extends layout

block layout-content
  div.View.Background
    h1.Banner.FadeIn Skyler Wittman
    div.View
      div.Message.MainPage.FadeIn
        div.Title
          h1 Web Developer
          h2 POS + Payments + Data @ <span style="color: #EE5153">Lightspeed POS </span> >> <span style="color: #8892BD">PHP</span>
          <html>
          br
          br
          h3 Formerly @ <span style="color: #18A6D9">Mnubo / AspenTech </span>  >>  <span style="color: #DB3532">Scala</span>
          </html>
      div.Message.MainPage.FadeIn
        div.Title
          h1 Chief Technology Officer 
          h2.AddBottomMargin @ <span style="color: #393863">Geoclique</span>
          a.ClickableBold(href='https://welcome.geoclique.com') > Interested? Click here to learn more
          br
          br
          a.ClickableBold(href='https://www.linkedin.com/company/geoclique-inc/') <span style="color: #0077B3">or check us out on LinkedIn</span>
    div.NavButtons
        a(href="/contact")
          div.NavButton Contact Me