@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono|Mukta");
:root {
    --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    fill: rgba(0, 0, 0, 0.54);
    --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1 {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: auto;
    color: #2a3747;
    font-size: 3vw;
    text-transform: uppercase;
}

h2 {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    color: #2a3747;
    align-items: right;
    font-size: 1.9vw;
}

h3 {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    color: #2a3747;
    font-size: 1.3vw;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
}

.View {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-size: cover;
    font-family: "Merriweather Sans", sans-serif;
}

.Background {
    background: url("images/background.jpg") left bottom;
    background-size: cover;
}

.BackgroundDaylight {
    background: url("images/daylight_background.jpg") left bottom;
    background-size: cover;
}

.Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 14vh;
    font-size: 4vw;
    border-radius: 5px;
    overflow: hidden;
    background: #dddddd;
    padding: 10px;
    font-family: "Mukta", monospace;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

.DaylightBanner {
    background: #f8efef;
}

.Message {
    padding: 25px;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
    background: #f8efef;
}

.Message>.Title {
    padding-bottom: 10px;
}

.Message>.DaylightTitle {
    padding-bottom: 2px;
}

.Message>.Details {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.NavButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.NavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
    background: #fa4141;
    border-radius: 30px;
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

.h3Contact {
    font-size: 2.8vw;
    text-align: center;
}

.AddBottomMargin {
    margin-bottom: 12px;
}

.ClickableBold {
    font-weight: bold;
    font-size: 1.4vw;
    color: lightseagreen;
}

.ImageContact {
    height: 5.5vw;
    width: 5.5vw;
    display: flex;
    margin: auto;
}

.Contact {
    width: 22vw;
    height: 11vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainPage {
    width: 50vw;
    height: 26vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Daylight {
    font-size: 1.8vw;
    width: 50vw;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Beautiful {
    height: 30vh
}


/**
  Animation stuff
 */

.FadeIn {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/**
  Fonts
  */

@font-face {
    font-family: 'handel-gothic';
    src: url('fonts/HandelGothic.woff2') format('woff2'), url('fonts/HandelGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'museo-slab';
    src: url('fonts/MuseoSlab-300.woff2') format('woff2'), url('fonts/MuseoSlab-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}