<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/header.ejs'); %>
        <title>Contact Me</title>
</head>

<body class="bg-gradient-to-r from-emerald-800 to-pink-gradient">

    <!-- height container -->
    <div class="flex flex-col pb-3 container-height md:medium-container-height">
        <!-- horizontal container -->
        <div class="container flex justify-center h-screen">
            <!-- vertical container -->
            <div class="flex flex-col gap-4">
                <span class="title-common bg-indigo-700">Contact Me</span>
                <div class="flex flex-col gap-4 ">
                    <a href="https://www.linkedin.com/in/skylerwittman"><img class="img mx-18"
                            src='../images/LinkedInImage.png' alt='LinkedIn'></a>
                    <a href="https://github.com/SkylerWittman"><img class="img mx-18" src='../images/GitHubImage.png'
                            alt='GitHub'></a>
                    <a href="mailto:skyler.wittman@gmail.com"><img class="img mx-18" src='../images/Email.png'
                            alt='Email'></a>
                </div>
            </div>
        </div>

        <div class="flex justify-center gap-4">
            <a href="/"><button class="btn-common bg-indigo-700">Main page</button></a>
            <a href="/daylight"><button class="btn-common bg-indigo-700">Daylight widget</button></a>
        </div>
    </div>

    <%- include('../views/footer.ejs'); %>

</body>

</html>