<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/header.ejs'); %>
        <title>Skyler Wittman</title>
</head>

<body class="bg-gradient-to-r from-cyan-900 to-emerald-800">

    <!-- height container -->
    <div class="flex flex-col gap-2 flex-shrink pb-2 sm:pb-3 container-height">
        <div class="flex justify-center pt-1 xl:absolute xl:right-6 xl:top-4">
            <img class="img rounded-full" src="../images/Headshot825x825.png" alt="Skyler headshot">
        </div>

        <!-- horizontal container -->
        <div class="container flex justify-center h-screen">
            <!-- vertical container -->
            <div class="flex flex-col gap-2 md:gap-4">
                <span class="title-common w-6/12 mx-adjust bg-indigo-900">Skyler Wittman</span>
                <span class="terminal-span">Product-minded developer focused on solving customer problems</span>
                <span class="terminal-span">
                    Specialties: <br>
                    &emsp; > Data analytics, software systems, API development, feature design, pragmatism, core competencies
                </span>
                <span class="terminal-span">
                    Currently <strong>CTO</strong> @ <a class="font-medium text-croogloo-green" href="https://www.croogloo.com">Croogloo</a>
                    building the most customer-centric production management software around
                    </span>
                    
                    <span class="terminal-span">
                        Also <strong>CTO</strong> @ <a class="text-geoclique-green"
                        href="https://www.geoclique.com/welcome">GeoClique</a>
                    revolutionizing the real estate investment industry
                </span>

                <span class="terminal-span">
                    Previously: <br />
                    &emsp; > built Lightspeed Analytics using python, SQL, some React & TypeScript & <br />
                    <span> &emsp; > Lightspeed Payments, Omnichannnel point of sale software @ <span
                        class="font-medium text-lightspeed-red">Lightspeed</span> <br>
                    &emsp; > AIoT backend development @ <span class="text-mnubo-blue font-medium">Mnubo</span>
                </span>
            </div>
        </div>
        <div class="flex justify-center gap-2 sm:gap-4">
            <a href="/contact"><button class="btn-common bg-indigo-900">Contact me</button></a>
            <a href="/daylight"><button class="btn-common bg-indigo-900">Daylight widget</button></a>
        </div>
    </div>

    <%- include('../views/footer.ejs'); %>


</body>

</html>